name: Deploy to GitHub Pages

on:
  push:
    branches: [ master ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'vue-app/package-lock.json'

      - name: Install Dependencies
        run: npm ci
        working-directory: vue-app

      - name: Build
        run: npm run build
        working-directory: vue-app

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: vue-app/dist
          branch: gh-pages
